.head {
    background: url(../img/bg_img/texture.jpg) no-repeat 50%;
    background-size: cover;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;

        @include tablets {
            flex-direction: column;
            text-align: center;
        }
    }

    &__img {
        width: 50%;
        margin-right: rem(15px);

        @include tablets {
            width: 62.5%;
            margin: 0;
        }

        @include phones {
            width: 81.81%;
        }

        & img {
            width: 100%;
        }
    }

    &__descr {
        width: 50%;

        @include tablets {
            width: 62.5%;
        }

        @include phones {
            width: 81.81%;
        }
    }
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &__menu {
        @include tablets {
            display: none;
        }
    }

    &__logo {
        margin-right: auto;
        padding-top: rem(12px);
    }

    &__batton {
        margin-left: rem(15px);
    }
}

.logo {
    position: relative;
    max-width: rem(92px);

    &__img {
        width: 100%;
    }

    &__h1 {
        position: absolute;
        top: 0;
        left: rem(-9999px);
        font-size: 0;
    }
}

.menu {
    &__list {
        @extend %reset-ul;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__item {
        position: relative;
        margin-right: rem(36px);

        &:last-child::after{
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: rem(-20px);
            @include circle(rem(4px), $white);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        border-bottom: rem(1px) solid transparent;
        font-size: rem(13px);
        line-height: 1.71;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        transition: all .5s;

        &:hover {
            color: $red;
            border-bottom: rem(1px) solid $red;
        }
    }
}

.description {
    &__title {
        margin: 0;
        font-family: 'gagalin', Arial, Helvetica, sans-serif;
        font-size: rem(72px);
        font-weight: 300;
        line-height: 1.71;
        color: $yellow;
        white-space: nowrap;

        @include phones {
            font-size: rem(53px);
        }
    }

    &__info {
        margin: 0;
        font-family: 'lifehack', Arial, Helvetica, sans-serif;
        font-size: rem(65px);
        font-weight: 400;
        line-height: .9;
        color: $white;

        @include tablets {
            text-align: center;
        }

        @include phones {
            font-size: rem(44px);
        }
    }
}

.hamburger-menu {
    display: none;
    width: rem(24px);
    height: rem(24px);
    margin-left: rem(30px);
    margin-right: rem(7px);
    @include tablets {
        display: block;
    }

    &__link {
        display: block;
        height: 100%;
        width: 100%;
    }

    &__icon {
        width: 100%;
        height: 100%;
        transition: .5s;
    }
}